# Data Analysis for Fantasy Football model

#### Load in packages

In [1]:
import os
import pandas as pd
import numpy as np
from python_pkg import python_udf as udf

#### Read in data

In [2]:
offense = pd.read_csv('C:/Users/Joe/Projects/fantasy_football/analysis/offense_final.csv', index_col='pk')
defense = pd.read_csv('C:/Users/Joe/Projects/fantasy_football/analysis/defense_final.csv', index_col='pk')
kicker = pd.read_csv('C:/Users/Joe/Projects/fantasy_football/analysis/kicker_final.csv', index_col='pk')

In [3]:
offense.head()

,seas,wk,player,pos1,py,ints,tdp,ry,tdr,recy,tdrec,rety,tdret,fuml,conv,tot_sack,f_pts
pk,,,,,,,,,,,,,,,,,
2000&1&KW-1500,2000,1,KW-1500,WR,0,0,0,0,0,0,0,56,0,0,0,0.0,1.60
2000&1&CG-0400,2000,1,CG-0400,RB,0,0,0,62,0,45,0,0,0,0,0,0.0,10.70
2000&1&JG-0600,2000,1,JG-0600,QB,252,1,3,22,0,0,0,0,0,0,0,1.0,22.03
2000&1&JR-2000,2000,1,JR-2000,WR,0,0,0,-2,0,59,0,0,0,0,0,0.0,5.70
2000&1&TO-0200,2000,1,TO-0200,WR,0,0,0,0,0,72,1,0,0,0,0,0.0,13.20

In [5]:
offense[(offense['wk'] == 1) & (offense['pos1'] == 'QB')].shape

(651, 17)