# EDA & Model Development

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

## Read in Data

In [2]:
#https://raw.githubusercontent.com/jchristo12/fantasy_football/master/data/full_data.csv
df = pd.read_csv('https://github.com/jchristo12/fantasy_football/blob/master/data/full_data.csv?raw=true')

In [3]:
#remove rows that have NaN for the shifted variables
df_clean = df[~df.loc[:,'seas_pa':'seas_tdret'].isna().all(axis=1)]

(83754, 142)

The result is a dataframe that has lagged data for each week

In [14]:
df_wk16 = df_clean.loc[df_clean['wk']==16, :]

In [23]:
df_wk16[df_wk16['cond'].isna()]['cond']

587      NaN
1702     NaN
3817     NaN
5136     NaN
9854     NaN
11305    NaN
11329    NaN
18901    NaN
20123    NaN
27333    NaN
32382    NaN
34467    NaN
38562    NaN
41034    NaN
41814    NaN
45543    NaN
47625    NaN
49561    NaN
49729    NaN
50853    NaN
51598    NaN
51628    NaN
51892    NaN
55874    NaN
57300    NaN
57345    NaN
58265    NaN
59020    NaN
59269    NaN
60680    NaN
60710    NaN
60844    NaN
60870    NaN
61060    NaN
62228    NaN
64601    NaN
65143    NaN
68048    NaN
68090    NaN
71261    NaN
71673    NaN
77396    NaN
79504    NaN
79971    NaN
79999    NaN
80758    NaN
81838    NaN
82683    NaN
83870    NaN
84721    NaN
85539    NaN
85565    NaN
87547    NaN
87759    NaN
89534    NaN
90096    NaN
90480    NaN
93006    NaN
93470    NaN
94170    NaN
Name: cond, dtype: object

In [17]:
df_wk16.groupby(by='pos1').agg({'pk': 'count'})

        pk
pos1
DB       4
DL       3
K       11
LB       2
OL       8
QB     702
RB    1869
TE    1080
WR    2441