# EDA & Model Development

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import random

## Initial Setup

In [2]:
#https://raw.githubusercontent.com/jchristo12/fantasy_football/master/data/full_data.csv
df = pd.read_csv('https://github.com/jchristo12/fantasy_football/blob/master/data/full_data.csv?raw=true')

In [3]:
df.columns

Index(['pk', 'gid', 'seas', 'wk', 'player', 'fname', 'lname', 'full_name',
       'team', 'pos1',
       ...
       'ou', 'sprv', 'ptsv', 'ptsh', 'udog', 'gen_cond', 'udog_binary',
       'gen_dv', 'def_team', 'f_pts'],
      dtype='object', length=171)

In [4]:
#remove rows that have NaN for the shifted variables
df_clean = df[~df.loc[:,'seas_pa':'seas_tdret'].isna().all(axis=1)]

##### We are only focused on offensive players right now. Therefore, we will specifiy the positions we want to retain in the data and remove everyone else

In [5]:
#store positions we are concerned about; will use these to filter out 
pos_of_interest = ['QB', 'RB', 'WR', 'TE']
#filter out positions we don't care about
df_clean2 = df_clean[df_clean['pos1'].isin(pos_of_interest)]

##### Convert each column to the appropriate data type (i.e. make the categorical data categories)

In [8]:
#set the column types
col_dtypes = {'category': ['seas', 'wk', 'pos1', 'team', 'udog', 'v', 'h', 'day', 'stad', 'wdir',
                          'surf', 'gen_cond', 'gen_dv', 'def_team']}
#flip the key and values around so they will work in the argument for 'astype()'
col_dtypes_alt = {old: new for new, old_all in col_dtypes.items() for old in old_all}

In [9]:
df_clean2 = df_clean2.astype(col_dtypes_alt)

##### Segment out the WR data

In [10]:
df_wr = df_clean2.loc[df_clean2['pos1']=='WR', :]

##### Only focus on week 10 data

In [11]:
df_wr10 = df_wr.loc[df_wr['wk'] == 10, :]

## EDA

Only focusing on the WR data right now. Will need to build this so that each action is extendable to the other positions

### Training/Test split

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
#set the random seed for reproducability
random.seed(837)

In [14]:
#break out the data between training and test
train_wr, test_wr = train_test_split(df_wr10, train_size=0.75, test_size=0.25, shuffle=True)

In [15]:
#shape of the data
print(train_wr.shape, test_wr.shape)

(1625, 171) (542, 171)

### Missing Data analysis

#### Basic analysis

In [16]:
#create a series of percent of missing data
missing_data_pct = train_wr.isna().sum() / train_wr.shape[0]

In [17]:
#list all columns with missing data that is greater than 25%
missing_data_pct[missing_data_pct > 0.25].sort_values(ascending=False)

roll_td_to_int           0.992615
seas_td_to_int           0.990769
roll_yds_per_comp        0.987077
seas_yds_per_comp        0.982769
roll_comp_pct            0.975385
seas_comp_pct            0.963077
last_td_to_int           0.910769
last_yds_per_comp        0.901538
last_comp_pct            0.896615
last_ret_to_td           0.860308
last_avg_ret             0.860308
career_td_to_int         0.850462
career_yds_per_comp      0.838154
career_comp_pct          0.789538
roll_carry_to_td         0.725538
roll_ryds_per_carry      0.724923
roll_ret_to_td           0.675692
roll_avg_ret             0.675077
roll_carry_to_fuml       0.659692
last_ryds_per_carry      0.654769
last_carry_to_td         0.654154
seas_ret_to_td           0.646769
seas_avg_ret             0.646154
last_carry_to_fuml       0.641846
seas_carry_to_td         0.624615
seas_ryds_per_carry      0.624000
career_avg_ret           0.588308
career_ret_to_td         0.588308
seas_carry_to_fuml       0.535385
last_yds_per_rec         0.399385
last_rec_to_td           0.399385
last_catch_pct           0.328000
career_ryds_per_carry    0.312615
career_carry_to_td       0.310769
dtype: float64

In [18]:
#columns with missing values but less than or equal to 25%
impute_cols = missing_data_pct[(missing_data_pct <= 0.25) & (missing_data_pct > 0)].sort_values(ascending=False)
impute_cols

career_carry_to_fuml    0.230154
temp                    0.145846
career_rec_to_td        0.136000
career_yds_per_rec      0.132308
last_pa                 0.123692
last_ra                 0.123692
last_rety               0.123692
last_ret                0.123692
last_tdrec              0.123692
last_recy               0.123692
last_rec                0.123692
last_trg                0.123692
last_fuml               0.123692
last_tdr                0.123692
last_ry                 0.123692
last_sra                0.123692
last_py                 0.123692
last_tdp                0.123692
last_ints               0.123692
last_pc                 0.123692
last_tdret              0.123692
career_catch_pct        0.120615
roll_yds_per_rec        0.068308
roll_rec_to_td          0.068308
seas_yds_per_rec        0.060923
seas_rec_to_td          0.060923
roll_catch_pct          0.045538
seas_catch_pct          0.040000
career_pa               0.033846
career_sra              0.033846
career_pc               0.033846
career_trg              0.033846
career_tdret            0.033846
career_rety             0.033846
career_ret              0.033846
career_tdrec            0.033846
career_recy             0.033846
career_rec              0.033846
career_fuml             0.033846
career_py               0.033846
career_tdr              0.033846
career_ry               0.033846
career_ra               0.033846
career_tdp              0.033846
career_ints             0.033846
humd                    0.030154
wdir                    0.021538
dtype: float64

#### Take action on missing data

##### Drop columns with too many missing values

In [23]:
#drop columns with missing data greater than 25%
#store the column names
missing_cols_del = missing_data_pct[missing_data_pct > 0.25].sort_values(ascending=False).index
#drop the columns and store as new dataframe
train_wr_miss = train_wr.drop(missing_cols_del, axis=1, inplace=False)

In [24]:
#check the shape
train_wr_miss.shape

(1625, 137)

##### Impute the rest of the missing values

In [25]:
from sklearn.impute import SimpleImputer

In [26]:
#Build simple imputers for both numeric and categorical features
numeric_impute = SimpleImputer(missing_values=np.NaN, strategy='median')
cat_impute = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')

In [27]:
#create a dataframe of all of the features to impute
missing_values_df = train_wr_miss.drop(train_wr_miss.columns.difference(impute_cols.index), axis=1, inplace=False)

In [28]:
missing_values_df.columns

Index(['last_pa', 'last_pc', 'last_py', 'last_ints', 'last_tdp', 'last_ra',
       'last_sra', 'last_ry', 'last_tdr', 'last_fuml', 'last_trg', 'last_rec',
       'last_recy', 'last_tdrec', 'last_ret', 'last_rety', 'last_tdret',
       'career_pa', 'career_pc', 'career_py', 'career_ints', 'career_tdp',
       'career_ra', 'career_sra', 'career_ry', 'career_tdr', 'career_fuml',
       'career_trg', 'career_rec', 'career_recy', 'career_tdrec', 'career_ret',
       'career_rety', 'career_tdret', 'career_carry_to_fuml',
       'career_catch_pct', 'seas_catch_pct', 'roll_catch_pct',
       'career_yds_per_rec', 'seas_yds_per_rec', 'roll_yds_per_rec',
       'career_rec_to_td', 'seas_rec_to_td', 'roll_rec_to_td', 'temp', 'wdir',
       'humd'],
      dtype='object')

In [38]:
#store the columns that need to use the numeric imputation and the categorical imputation
impute_numeric_col = missing_values_df.select_dtypes(include=np.number).columns
impute_cat_col = missing_values_df.select_dtypes(exclude=np.number).columns

In [80]:
#Boolean if the column has 'inf' values or not
inf_cols = np.isinf(train_wr_miss.loc[:, impute_numeric_col]).any()

In [87]:
#list of columns that have 'inf' values
inf_cols2 = list(train_wr_miss.loc[:, impute_numeric_col].columns.to_series()[inf_cols].values)

In [94]:
train_wr_miss.loc[:, inf_cols2]

,career_carry_to_fuml,career_yds_per_rec,career_rec_to_td,seas_rec_to_td,roll_rec_to_td
10142,72.000000,6.645161,inf,25.000000,15.000000
30496,inf,2.500000,inf,inf,inf
4909,NaN,12.000000,inf,inf,inf
50940,NaN,3.000000,inf,7.800000,7.666667
27982,NaN,4.166667,inf,3.250000,2.750000
74615,inf,4.416667,inf,8.000000,15.000000
1122,inf,9.900000,10.000000,inf,inf
86204,0.400000,12.512500,8.727273,1.000000,1.000000
79686,NaN,3.750000,inf,6.500000,6.000000
63917,NaN,9.788235,12.142857,17.250000,37.000000
8508,inf,12.240964,13.833333,6.000000,9.000000
84,NaN,NaN,NaN,inf,inf
29695,inf,6.833333,inf,7.000000,7.000000
666,0.000000,NaN,NaN,19.000000,inf
9943,NaN,9.821429,28.000000,inf,inf
57218,5.230769,-4.000000,inf,7.666667,6.500000
2916,1.000000,7.937500,16.000000,19.666667,27.000000
40362,NaN,12.000000,inf,16.000000,inf
77915,inf,8.784314,7.285714,6.500000,5.000000
86750,NaN,12.200000,inf,19.000000,5.000000
68227,11.909091,-1.500000,inf,7.000000,8.000000
25002,0.000000,12.786408,6.866667,inf,inf
3321,inf,7.882353,17.000000,inf,inf
3651,NaN,12.000000,inf,NaN,NaN
54845,4.000000,16.061350,7.409091,inf,inf
12977,inf,12.611940,16.750000,24.000000,18.000000
14481,NaN,12.709677,31.000000,4.000000,3.000000
84160,5.000000,10.270833,12.000000,7.600000,7.000000
21292,inf,6.187500,4.571429,inf,inf
50612,4.000000,12.447130,13.240000,inf,inf
...,...,...,...,...,...
79498,inf,17.000000,inf,18.000000,18.000000
79543,inf,NaN,NaN,11.600000,8.666667
46954,5.625000,23.666667,inf,25.000000,inf
69212,35.333333,7.235294,inf,4.400000,4.333333
18509,12.666667,-5.000000,inf,inf,inf
21031,NaN,5.500000,inf,inf,inf
41290,17.000000,NaN,NaN,inf,inf
19196,17.428571,NaN,NaN,inf,inf
91811,40.500000,-14.000000,inf,NaN,NaN
84679,4.000000,15.558140,14.333333,6.333333,4.000000
63817,4.000000,12.000000,12.000000,1.000000,1.000000
86256,146.000000,8.923077,39.000000,inf,inf
17377,NaN,22.666667,6.000000,NaN,NaN
83230,inf,13.578947,6.333333,8.000000,5.000000
62396,33.800000,NaN,NaN,6.285714,6.000000
79407,69.375000,7.140625,128.000000,39.000000,inf
32584,9.900000,23.000000,inf,13.000000,13.000000
92866,149.333333,11.910256,8.666667,17.000000,4.000000
43772,inf,11.915094,11.777778,inf,inf
87998,inf,8.867133,13.000000,8.750000,8.000000
48772,4.000000,8.300000,10.000000,17.000000,27.000000
24308,3.333333,15.067901,14.086957,7.333333,12.000000
637,inf,NaN,NaN,20.500000,26.000000
29670,1.000000,11.409091,inf,7.500000,7.500000
25373,inf,5.750000,inf,13.000000,inf
8588,inf,11.866667,15.000000,inf,inf
39123,NaN,29.500000,2.000000,15.000000,15.000000
37268,NaN,15.970588,7.555556,7.500000,3.000000
44706,NaN,12.000000,inf,13.000000,13.000000
44257,inf,8.000000,3.000000,inf,inf

In [86]:
def tree_impute(df, cols):
    #import necessary packages
    try:
        from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
        from sklearn.impute import SimpleImputer
        import pandas as pd
    except:
        print('Necessary packages are not installed. Please install:')
        print('scikit-learn & pandas')
    
    #initialize a list to store imputed features
    imputed_features = []
    
    #set up the dataframe to handle categorical features in Decision Trees
        #store the categorical and bool columns as OneHotEncoded dummies

    
    #loop thru all features that have missing values
    for c in cols:
        #store the column datatype
        data_type = df[c].dtype
        #store the target variable separate
        target = df[c].values
        
        
        #store the features separate
        features_df = df.drop(c, axis=1)
        #create one hot encoded dummy variables
        dummies = pd.get_dummies(features_df.select_dtypes(include=['category', 'bool']), drop_first=True)
        #drop original columns (as well as strings) and concate the dummies
        interim_df = features_df.drop(features_df.select_dtypes(include=['category', 'bool']), axis=1).select_dtypes(exclude='object')
        new_df = pd.concat([interim_df, dummies], axis=1)
        #convert to values
        features = new_df.values
        
        
        
        #perform the imputation
        if (data_type == 'category') | (data_type == 'bool'):
            #Decision tree for categorical variable
            Ctree = DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=5, min_samples_leaf=3)
            Ctree.fit(features, target)
            output = Ctree.predict(target)
        else:
            try:
                #Decision tree for regression variables
                Rtree = DecisionTreeRegressor(criterion='mse', random_state=100, max_depth=5, min_samples_leaf=3)
                Rtree.fit(features, target)
                output = Rtree.predict(target)
            except:
                #use the average value to impute missing values
                print('Decision tree could not be used for imputation')
                print('Average value used')
                mean_impute = SimpleImputer(strategy='mean')
                output = mean_impute.fit_transform(target)
        
        #store the missing values
        result = pd.Series(output).rename('imp_' + c)
        imputed_features.append(result)
    
    #concat all series into a dataframe
    final_df = pd.concat(imputed_features, axis=1)
    
    return final_df

In [19]:
#store the columns with missing data
low_missing_cols = missing_data_pct[(missing_data_pct <= 0.25) & (missing_data_pct > 0)].index

Testing

In [43]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.impute import SimpleImputer
import pandas as pd

In [44]:
low_missing_cols

Index(['dv', 'last_pa', 'last_pc', 'last_py', 'last_ints', 'last_tdp',
       'last_ra', 'last_sra', 'last_ry', 'last_tdr', 'last_fuml', 'last_trg',
       'last_rec', 'last_recy', 'last_tdrec', 'last_ret', 'last_rety',
       'last_tdret', 'career_pa', 'career_pc', 'career_py', 'career_ints',
       'career_tdp', 'career_ra', 'career_sra', 'career_ry', 'career_tdr',
       'career_fuml', 'career_trg', 'career_rec', 'career_recy',
       'career_tdrec', 'career_ret', 'career_rety', 'career_tdret',
       'career_carry_to_fuml', 'career_catch_pct', 'seas_catch_pct',
       'roll_catch_pct', 'career_yds_per_rec', 'seas_yds_per_rec',
       'roll_yds_per_rec', 'career_rec_to_td', 'seas_rec_to_td',
       'roll_rec_to_td', 'cond', 'temp', 'wdir', 'humd'],
      dtype='object')

In [45]:
#store the argments for testing
c = low_missing_cols[0]
df = train_wr_miss

In [46]:
#store the column type
col_data_type = df[c].dtype

In [47]:
#create dummy variables
#dummies = pd.get_dummies(df.select_dtypes(include=['category', 'bool']), drop_first=True)

In [30]:
#drop original columns (as well as strings) and concate the dummies
interim_df = df.drop(df.select_dtypes(include=['category', 'bool']), axis=1).select_dtypes(exclude='object')
new_df = pd.concat([interim_df, dummies], axis=1)
#drop identifier columns
new_df = new_df.drop(['gid', 'nflid'], axis=1)
#drop ultimate response variable
new_df = new_df.drop('f_pts', axis=1)

In [31]:
for i in new_df.columns: print(i)

pa
pc
py
ints
tdp
ra
sra
ry
tdr
fuml
trg
rec
recy
tdrec
ret
rety
tdret
exp
height
weight
forty
bench
vertical
broad
shuttle
cone
arm
hand
seas_pa
seas_pc
seas_py
seas_ints
seas_tdp
seas_ra
seas_sra
seas_ry
seas_tdr
seas_fuml
seas_trg
seas_rec
seas_recy
seas_tdrec
seas_ret
seas_rety
seas_tdret
last_pa
last_pc
last_py
last_ints
last_tdp
last_ra
last_sra
last_ry
last_tdr
last_fuml
last_trg
last_rec
last_recy
last_tdrec
last_ret
last_rety
last_tdret
career_pa
career_pc
career_py
career_ints
career_tdp
career_ra
career_sra
career_ry
career_tdr
career_fuml
career_trg
career_rec
career_recy
career_tdrec
career_ret
career_rety
career_tdret
recent_fuml
recent_ints
recent_pa
recent_pc
recent_py
recent_ra
recent_rec
recent_recy
recent_ret
recent_rety
recent_ry
recent_sra
recent_tdp
recent_tdr
recent_tdrec
recent_tdret
recent_trg
career_carry_to_fuml
career_catch_pct
seas_catch_pct
roll_catch_pct
career_yds_per_rec
seas_yds_per_rec
roll_yds_per_rec
career_rec_to_td
seas_rec_to_td
roll_rec_to_td
age
temp
humd
ou
sprv
ptsv
ptsh
udog_binary
seas_2001
seas_2002
seas_2003
seas_2004
seas_2005
seas_2006
seas_2007
seas_2008
seas_2009
seas_2010
seas_2011
seas_2012
seas_2013
seas_2014
seas_2015
seas_2016
seas_2017
seas_2018
wk_3
wk_4
wk_5
wk_6
wk_7
wk_8
wk_9
wk_10
wk_11
wk_12
wk_13
wk_14
wk_15
wk_16
team_ATL
team_BAL
team_BUF
team_CAR
team_CHI
team_CIN
team_CLE
team_DAL
team_DEN
team_DET
team_GB
team_HOU
team_IND
team_JAC
team_KC
team_LA
team_LAC
team_MIA
team_MIN
team_NE
team_NO
team_NYG
team_NYJ
team_OAK
team_PHI
team_PIT
team_SD
team_SEA
team_SF
team_STL
team_TB
team_TEN
team_WAS
pos1_RB
pos1_TE
pos1_WR
dv_Atlantic 10
dv_Atlantic Coast (ACC)
dv_Big 12
dv_Big East
dv_Big Eight
dv_Big Sky
dv_Big Ten
dv_Big West
dv_Colonial Athletic (CAA)
dv_Conference USA (C-USA)
dv_FBS Independents
dv_FCS Independents
dv_Great West
dv_Ivy League
dv_Mid-American (MAC)
dv_Mid-Eastern Athletic (MEAC)
dv_Missouri Valley
dv_Mountain West (MWC)
dv_Ohio Valley
dv_Pacific 10
dv_Pacific 12
dv_Southeastern (SEC)
dv_Southern
dv_Southland
dv_Southwest
dv_Southwestern Athletic (SWAC)
dv_Sun Belt
dv_Western Athletic
dv_Yankee
v_ATL
v_BAL
v_BUF
v_CAR
v_CHI
v_CIN
v_CLE
v_DAL
v_DEN
v_DET
v_GB
v_HOU
v_IND
v_JAC
v_KC
v_LA
v_LAC
v_MIA
v_MIN
v_NE
v_NO
v_NYG
v_NYJ
v_OAK
v_PHI
v_PIT
v_SD
v_SEA
v_SF
v_STL
v_TB
v_TEN
v_WAS
h_ATL
h_BAL
h_BUF
h_CAR
h_CHI
h_CIN
h_CLE
h_DAL
h_DEN
h_DET
h_GB
h_HOU
h_IND
h_JAC
h_KC
h_LA
h_LAC
h_MIA
h_MIN
h_NE
h_NO
h_NYG
h_NYJ
h_OAK
h_PHI
h_PIT
h_SD
h_SEA
h_SF
h_STL
h_TB
h_TEN
h_WAS
day_MN
day_SAT
day_SN
day_SUN
day_THU
day_TN
cond_Clear
cond_Closed Roof
cond_Cloudy
cond_Cold
cond_Covered Roof
cond_Dome
cond_Fair
cond_Flurries
cond_Foggy
cond_Hazy
cond_Light Rain
cond_Light Showers
cond_Light Snow
cond_Mostly Cloudy
cond_Mostly Sunny
cond_Overcast
cond_Partly CLoudy
cond_Partly Cloudy
cond_Partly Sunny
cond_Rain
cond_Showers
cond_Snow
cond_Sunny
cond_Thunderstorms
stad_AT&T Stadium
stad_Adelphia Coliseum
stad_Alltel Stadium
stad_Arrowhead Stadium
stad_Azteca Stadium
stad_Bank of America Stadium
stad_Candlestick Park
stad_Cardinals Stadium
stad_CenturyLink Field
stad_Cleveland Browns Stadium
stad_Cowboys Stadium
stad_Dolphins Stadium
stad_Edward Jones Dome
stad_Ericsson Stadium
stad_Estadio Azteca
stad_EverBank Field
stad_FedEx Field
stad_FirstEnergy Stadium
stad_Ford Field
stad_Foxboro Stadium
stad_Georgia Dome
stad_Giants Stadium
stad_Gillette Stadium
stad_Hard Rock Stadium
stad_Heinz Field
stad_Husky Stadium
stad_Invesco Field at Mile High
stad_Jacksonville Municipal Stadium
stad_LP Field
stad_Lambeau Field
stad_Land Shark Stadium
stad_Levi's Stadium
stad_Lincoln Financial Field
stad_Los Angeles Memorial Coliseum
stad_Louisiana Superdome
stad_Lucas Oil Stadium
stad_M&T Bank Stadium
stad_Mall of America Field at HHH Metrodome
stad_McAfee Coliseum
stad_Memorial Stadium
stad_Mercedes-Benz Stadium
stad_Mercedes-Benz Superdome
stad_MetLife Stadium
stad_Metrodome
stad_Mile High Stadium
stad_Monster Park
stad_NRG Stadium
stad_Network Associates Coliseum
stad_New Era Field
stad_New Meadowlands Stadium
stad_Nissan Stadium
stad_O.co Coliseum Oakland
stad_Oakland-Alameda County Coliseum
stad_PSINet Stadium
stad_Paul Brown Stadium
stad_Pontiac Silverdome
stad_Pro Player Stadium
stad_Qualcomm Stadium
stad_Qwest Field
stad_RCA Dome
stad_Ralph Wilson Stadium
stad_Ravens Stadium
stad_Raymond James Stadium
stad_Reliant Stadium
stad_Rogers Centre
stad_Seahawks Stadium
stad_Snapdragon Stadium
stad_Soldier Field
stad_Sports Authority Field at Mile High
stad_StubHub Center
stad_Sun Devil Stadium
stad_Sun Life Stadium
stad_TCF Bank Stadium
stad_TIAA Bank Field
stad_Texas Stadium
stad_The Meadowlands
stad_Three Rivers Stadium
stad_Trans World Dome
stad_Twickenham
stad_Twickenham Stadium
stad_U.S. Bank Stadium
stad_University of Phoenix Stadium
stad_Veterans Stadium
stad_Wembley Stadium
wdir_CALM
wdir_E
wdir_ENE
wdir_ESE
wdir_N
wdir_NE
wdir_NNE
wdir_NNW
wdir_NW
wdir_S
wdir_SE
wdir_SSE
wdir_SSW
wdir_SW
wdir_VAR
wdir_W
wdir_WNW
wdir_WSW
wdir_e
surf_Artificial Turf
surf_AstroPlay
surf_AstroTurf
surf_DD GrassMaster
surf_FieldTurf
surf_Grass
surf_Matrix RealGrass
surf_MomentumTurf
surf_NeXTurf
surf_SportGrass
surf_Sportex
surf_UBU Speed Series S5M
udog_ATL
udog_BAL
udog_BUF
udog_CAR
udog_CHI
udog_CIN
udog_CLE
udog_DAL
udog_DEN
udog_DET
udog_GB
udog_HOU
udog_IND
udog_JAC
udog_KC
udog_LA
udog_LAC
udog_MIA
udog_MIN
udog_NE
udog_NO
udog_NYG
udog_NYJ
udog_OAK
udog_PHI
udog_PIT
udog_SD
udog_SEA
udog_SF
udog_STL
udog_TB
udog_TEN
udog_WAS
gen_cond_indoor_cond
gen_cond_percip_cond
def_team_ATL
def_team_BAL
def_team_BUF
def_team_CAR
def_team_CHI
def_team_CIN
def_team_CLE
def_team_DAL
def_team_DEN
def_team_DET
def_team_GB
def_team_HOU
def_team_IND
def_team_JAC
def_team_KC
def_team_LA
def_team_LAC
def_team_MIA
def_team_MIN
def_team_NE
def_team_NO
def_team_NYG
def_team_NYJ
def_team_OAK
def_team_PHI
def_team_PIT
def_team_SD
def_team_SEA
def_team_SF
def_team_STL
def_team_TB
def_team_TEN
def_team_WAS

In [48]:
#store the target
target = df[c].values

In [49]:
#store the features
features_df = df.drop(c, axis=1)

In [50]:
#create one hot encoded dummy variables
dummies = pd.get_dummies(features_df.select_dtypes(include=['category', 'bool']), drop_first=False)

In [51]:
#drop original columns (as well as strings) and concate the dummies
interim_df = features_df.drop(features_df.select_dtypes(include=['category', 'bool']), axis=1).select_dtypes(exclude='object')
new_df = pd.concat([interim_df, dummies], axis=1)

In [52]:
#convert to values
features = new_df.values

In [53]:
#tree classifier
tree = DecisionTreeClassifier(criterion='gini', random_state=212, min_samples_leaf=3)

In [54]:
#fit the tree
tree.fit(features, target)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').