# EDA & Model Development

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import random

## Initial Setup

In [2]:
#https://raw.githubusercontent.com/jchristo12/fantasy_football/master/data/full_data.csv
df = pd.read_csv('https://github.com/jchristo12/fantasy_football/blob/master/data/full_data.csv?raw=true')

In [3]:
df.columns

Index(['pk', 'gid', 'seas', 'wk', 'player', 'fname', 'lname', 'full_name',
       'team', 'pos1',
       ...
       'humd', 'ou', 'sprv', 'ptsv', 'ptsh', 'udog', 'gen_cond', 'udog_binary',
       'def_team', 'f_pts'],
      dtype='object', length=161)

In [4]:
#remove rows that have NaN for the shifted variables
df_clean = df[~df.loc[:,'seas_pa':'seas_tdret'].isna().all(axis=1)]

##### We are only focused on offensive players right now. Therefore, we will specifiy the positions we want to retain in the data and remove everyone else

In [5]:
#store positions we are concerned about; will use these to filter out 
pos_of_interest = ['QB', 'RB', 'WR', 'TE']
#filter out positions we don't care about
df_clean2 = df_clean[df_clean['pos1'].isin(pos_of_interest)]

##### Convert each column to the appropriate data type (i.e. make the categorical data categories)

In [6]:
#set the column types
col_dtypes = {'category': ['seas', 'wk', 'pos1', 'team', 'udog', 'dv', 'v', 'h', 'day', 'cond', 'stad', 'wdir',
                          'surf', 'gen_cond', 'def_team']}
#flip the key and values around so they will work in the argument for 'astype()'
col_dtypes_alt = {old: new for new, old_all in col_dtypes.items() for old in old_all}

In [7]:
df_clean2 = df_clean2.astype(col_dtypes_alt)

##### Segment out the WR data

In [8]:
df_wr = df_clean2.loc[df_clean2['pos1']=='WR', :]

##### Only focus on week 10 data

In [9]:
df_wr10 = df_wr.loc[df_wr['wk'] == 10, :]

## EDA

Only focusing on the WR data right now. Will need to build this so that each action is extendable to the other positions

### Training/Test split

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
#set the random seed for reproducability
random.seed(837)

In [12]:
#break out the data between training and test
train_wr, test_wr = train_test_split(df_wr10, train_size=0.75, test_size=0.25, shuffle=True)

In [13]:
#shape of the data
print(train_wr.shape, test_wr.shape)

(1625, 161) (542, 161)

### Missing Data analysis

#### Basic analysis

In [14]:
#create a series of percent of missing data
missing_data_pct = train_wr.isna().sum() / train_wr.shape[0]

In [15]:
#list all columns with missing data that is greater than 25%
missing_data_pct[missing_data_pct > 0.25].sort_values(ascending=False)

roll_td_to_int           0.992000
seas_td_to_int           0.990769
roll_yds_per_comp        0.987077
seas_yds_per_comp        0.982154
roll_comp_pct            0.974154
seas_comp_pct            0.962462
career_td_to_int         0.851692
career_yds_per_comp      0.843692
career_comp_pct          0.797538
roll_carry_to_td         0.728000
roll_ryds_per_carry      0.727385
roll_ret_to_td           0.669538
roll_avg_ret             0.668923
roll_carry_to_fuml       0.660308
seas_ret_to_td           0.637538
seas_avg_ret             0.636923
seas_carry_to_td         0.624000
seas_ryds_per_carry      0.623385
career_avg_ret           0.592615
career_ret_to_td         0.592615
seas_carry_to_fuml       0.527385
career_ryds_per_carry    0.327385
career_carry_to_td       0.326769
dtype: float64

In [38]:
#columns with missing values but less than or equal to 25%
impute_cols = missing_data_pct[(missing_data_pct <= 0.25) & (missing_data_pct > 0)].sort_values(ascending=False)
impute_cols

career_carry_to_fuml    0.249231
humd                    0.233231
wdir                    0.222154
career_rec_to_td        0.146462
temp                    0.142154
career_yds_per_rec      0.142154
last_tdr                0.131692
last_rety               0.131692
last_ret                0.131692
last_tdrec              0.131692
last_recy               0.131692
last_rec                0.131692
last_trg                0.131692
last_fuml               0.131692
career_catch_pct        0.131692
last_ry                 0.131692
last_sra                0.131692
last_ra                 0.131692
last_tdp                0.131692
last_ints               0.131692
last_py                 0.131692
last_pc                 0.131692
last_pa                 0.131692
last_tdret              0.131692
dv                      0.083077
roll_rec_to_td          0.069538
roll_yds_per_rec        0.069538
seas_rec_to_td          0.062154
seas_yds_per_rec        0.062154
roll_catch_pct          0.043077
career_ra               0.037538
career_tdp              0.037538
seas_catch_pct          0.037538
career_tdret            0.037538
career_rety             0.037538
career_ret              0.037538
career_tdrec            0.037538
career_recy             0.037538
career_rec              0.037538
career_trg              0.037538
career_fuml             0.037538
career_tdr              0.037538
career_ry               0.037538
career_pa               0.037538
career_pc               0.037538
career_py               0.037538
career_ints             0.037538
career_sra              0.037538
cond                    0.027077
dtype: float64

#### Take action on missing data

##### Drop columns with too many missing values

In [18]:
#drop columns with missing data greater than 25%
#store the column names
missing_cols_del = missing_data_pct[missing_data_pct > 0.25].sort_values(ascending=False).index
#drop the columns and store as new dataframe
train_wr_miss = train_wr.drop(missing_cols_del, axis=1, inplace=False)

In [19]:
#check the shape
train_wr_miss.shape

(1625, 138)

##### Impute the rest of the missing values

In [22]:
from sklearn.impute import SimpleImputer

In [23]:
#Build simple imputers for both numeric and categorical features
numeric_impute = SimpleImputer(missing_values=np.NaN, strategy='median')
cat_impute = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')

In [43]:
#create a dataframe of all of the features to impute
missing_values_df = train_wr_miss.drop(train_wr_miss.columns.difference(impute_cols.index), axis=1, inplace=False)

,dv,last_pa,last_pc,last_py,last_ints,last_tdp,last_ra,last_sra,last_ry,last_tdr,...,career_yds_per_rec,seas_yds_per_rec,roll_yds_per_rec,career_rec_to_td,seas_rec_to_td,roll_rec_to_td,cond,temp,wdir,humd
12964,Ivy League,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.955556,8.800000,9.000000,9.000000,inf,inf,Cloudy,50.0,CALM,88.0
52607,Big East,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.529851,20.733333,32.000000,15.461538,15.000000,inf,Dome,NaN,NaN,NaN
50641,NaN,0.0,0.0,0.0,0.0,0.0,15.0,7.0,60.0,0.0,...,7.290323,13.242424,10.176471,62.000000,8.250000,inf,Mostly Cloudy,66.0,S,78.0
74197,Big 12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.333333,11.666667,11.666667,6.000000,6.000000,6.000000,Dome,64.0,NaN,NaN
91773,Western Athletic,0.0,0.0,0.0,0.0,0.0,15.0,5.0,46.0,0.0,...,7.642105,14.473684,13.428571,23.750000,19.000000,7.000000,Cloudy,69.0,SW,44.0
32554,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.369888,16.166667,15.705882,7.078947,inf,inf,Dome,66.0,NaN,NaN
71449,Big Ten,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.333333,14.333333,15.304348,4.000000,9.000000,11.500000,Mostly Cloudy,64.0,SSW,78.0
82652,Atlantic Coast (ACC),0.0,0.0,0.0,0.0,0.0,18.0,7.0,43.0,1.0,...,7.850000,10.000000,11.000000,40.000000,3.000000,inf,Mostly Cloudy,32.0,NE,75.0
37422,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.137441,9.660000,9.818182,10.292683,25.000000,22.000000,Partly Sunny,57.0,NaN,NaN
69163,Conference USA (C-USA),0.0,0.0,0.0,0.0,0.0,8.0,3.0,20.0,1.0,...,8.953052,15.388889,15.291667,15.214286,9.000000,8.000000,Cloudy,62.0,NW,88.0
83684,Mountain West (MWC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.066079,14.058824,15.928571,17.461538,34.000000,14.000000,Sunny,73.0,NW,80.0
43096,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.878788,18.800000,19.500000,inf,inf,inf,Chance Rain,82.0,SW,60.0
83199,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.681818,15.810811,17.956522,22.000000,18.500000,inf,Dome,67.0,NaN,NaN
28007,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,1.0,0.0,-2.0,0.0,...,6.685714,16.166667,16.777778,35.000000,7.500000,6.000000,Sunny,61.0,SSE,56.0
80047,Conference USA (C-USA),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.600775,22.000000,22.000000,11.217391,inf,inf,Cloudy,52.0,N,67.0
74709,Southeastern (SEC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.238411,10.677419,12.875000,8.882353,31.000000,16.000000,Clear,52.0,S,61.0
21292,Big Ten,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.187500,3.000000,3.000000,4.571429,inf,inf,Partly Cloudy,80.0,E,56.0
42383,Big 12,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,0.0,...,7.258065,11.736842,13.230769,31.000000,inf,inf,Cloudy,62.0,SSE,30.0
53540,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15.708134,12.400000,10.400000,9.500000,25.000000,20.000000,Mostly Sunny,47.0,W,51.0
74679,Southeastern (SEC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.000000,9.000000,NaN,inf,inf,Sunny,NaN,NaN,NaN
46602,Southeastern (SEC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Partly Sunny,51.0,W,56.0
89751,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.750000,11.750000,NaN,8.000000,4.000000,Sunny,46.0,WNW,39.0
11670,Southern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.352941,16.875000,15.750000,10.818182,8.000000,inf,Clear,62.0,W,18.0
38183,Pacific 10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Dome,NaN,NaN,NaN
30199,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.352941,13.826087,16.083333,12.952381,11.500000,12.000000,Cloudy,42.0,WSW,50.0
56408,Big 12,0.0,0.0,0.0,0.0,0.0,13.0,5.0,49.0,0.0,...,7.533333,10.000000,10.875000,inf,8.750000,5.333333,Partly Cloudy,57.0,W,37.0
74385,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.204128,7.400000,7.400000,11.179487,2.500000,2.500000,Dome,NaN,NaN,NaN
42315,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,11.466667,12.000000,NaN,45.000000,inf,Partly Cloudy,43.0,N,34.0
68260,Southeastern (SEC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.393939,NaN,NaN,19.800000,NaN,NaN,Mostly Sunny,47.0,W,51.0
44740,Mid-Eastern Athletic (MEAC),0.0,0.0,0.0,0.0,0.0,1.0,1.0,8.0,0.0,...,14.459184,8.000000,8.000000,11.529412,inf,inf,Cloudy,39.0,NNW,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.800000,8.000000,NaN,inf,inf,NaN,Clear,68.0,WSW,65.0
28467,Atlantic Coast (ACC),0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,...,13.485437,20.222222,20.222222,15.846154,inf,inf,Cloudy,33.0,SW,66.0
17887,American Athletic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,6.833333,5.666667,NaN,inf,inf,Fair,54.0,NW,48.0
10049,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.062500,13.411765,12.384615,32.000000,17.000000,13.000000,Sunny,73.0,N,57.0
17009,Big Eight,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.411765,5.600000,5.166667,11.333333,inf,inf,Cloudy,49.0,SW,52.0
52216,Atlantic Coast (ACC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.725000,13.875000,NaN,8.000000,8.000000,Clear,52.0,S,61.0
83797,Pacific 10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.311111,9.647059,9.857143,9.000000,34.000000,21.000000,Clear,48.0,WSW,63.0
21258,Pacific 10,0.0,0.0,0.0,0.0,0.0,18.0,9.0,94.0,0.0,...,7.077670,13.111111,15.000000,34.333333,inf,inf,Sunny,75.0,NNW,20.0
4146,Western Athletic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.000000,15.230769,15.875000,inf,inf,inf,Mostly Cloudy,32.0,NE,75.0
69362,Pacific 12,0.0,0.0,0.0,0.0,0.0,6.0,4.0,26.0,0.0,...,6.291667,8.666667,8.666667,inf,inf,inf,Mostly Cloudy,46.0,W,56.0
36890,Big East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.866667,10.866667,NaN,15.000000,15.000000,Cloudy,64.0,N,73.0
72766,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,0.0,...,NaN,9.083333,8.363636,NaN,24.000000,inf,Dome,NaN,NaN,NaN
33012,Pacific 10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.423077,12.921569,12.558824,52.000000,17.000000,17.000000,Partly Cloudy,51.0,NW,50.0
51971,Pacific 12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.000000,15.500000,16.038462,24.000000,11.333333,8.666667,Sunny,78.0,SSW,14.0
1053,Mid-American (MAC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.083333,11.647059,14.636364,12.000000,5.666667,3.666667,Clear,40.0,NNE,76.0
55190,Atlantic Coast (ACC),0.0,0.0,0.0,0.0,0.0,2.0,0.0,6.0,0.0,...,-1.500000,15.354839,20.866667,inf,31.000000,15.000000,Clear,76.0,W,27.0
25701,Big Ten,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,13.750000,19.750000,NaN,8.000000,4.000000,NaN,79.0,CALM,25.0
54374,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.750000,23.000000,23.000000,14.500000,inf,inf,Fair,38.0,VAR,38.0
21381,Pacific 10,0.0,0.0,0.0,0.0,0.0,15.0,5.0,51.0,0.0,...,7.632653,11.757576,15.500000,61.250000,33.000000,8.000000,Partly Cloudy,56.0,E,61.0
88267,Pacific 10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.672727,14.727273,13.666667,6.875000,11.000000,inf,Dome,NaN,NaN,NaN
92208,Great West,46.0,25.0,425.0,0.0,2.0,3.0,2.0,34.0,0.0,...,-1.000000,13.000000,15.750000,inf,3.000000,4.000000,Cloudy,42.0,NNE,66.0
15111,Mid-American (MAC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.861111,11.222222,11.222222,36.000000,inf,inf,Cloudy,53.0,SSW,88.0
22983,Southeastern (SEC),0.0,0.0,0.0,0.0,0.0,4.0,3.0,27.0,0.0,...,NaN,13.250000,14.000000,NaN,inf,inf,Closed Roof,NaN,NaN,NaN
6940,Big 12,52.0,32.0,346.0,1.0,3.0,4.0,1.0,9.0,0.0,...,-2.000000,NaN,NaN,inf,NaN,NaN,Mostly Cloudy,79.0,ENE,58.0
54620,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.133333,13.000000,8.666667,inf,inf,inf,Closed Roof,NaN,NaN,NaN
32273,Atlantic Coast (ACC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.047619,12.750000,12.750000,12.600000,inf,inf,Sunny,57.0,S,40.0
62589,Big 12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,...,5.571429,12.419355,12.300000,inf,10.333333,6.666667,Sunny,74.0,N,50.0
39123,Atlantic Coast (ACC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,29.500000,16.666667,16.666667,2.000000,15.000000,15.000000,Mostly Sunny,45.0,W,48.0
20785,Big 12,31.0,18.0,175.0,1.0,2.0,0.0,0.0,0.0,0.0,...,NaN,11.812500,10.000000,NaN,5.333333,7.000000,Clear,43.0,SW,55.0
86818,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,16.000000,19.666667,NaN,inf,inf,Covered Roof,NaN,NaN,NaN

In [86]:
def tree_impute(df, cols):
    #import necessary packages
    try:
        from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
        from sklearn.impute import SimpleImputer
        import pandas as pd
    except:
        print('Necessary packages are not installed. Please install:')
        print('scikit-learn & pandas')
    
    #initialize a list to store imputed features
    imputed_features = []
    
    #set up the dataframe to handle categorical features in Decision Trees
        #store the categorical and bool columns as OneHotEncoded dummies

    
    #loop thru all features that have missing values
    for c in cols:
        #store the column datatype
        data_type = df[c].dtype
        #store the target variable separate
        target = df[c].values
        
        
        #store the features separate
        features_df = df.drop(c, axis=1)
        #create one hot encoded dummy variables
        dummies = pd.get_dummies(features_df.select_dtypes(include=['category', 'bool']), drop_first=True)
        #drop original columns (as well as strings) and concate the dummies
        interim_df = features_df.drop(features_df.select_dtypes(include=['category', 'bool']), axis=1).select_dtypes(exclude='object')
        new_df = pd.concat([interim_df, dummies], axis=1)
        #convert to values
        features = new_df.values
        
        
        
        #perform the imputation
        if (data_type == 'category') | (data_type == 'bool'):
            #Decision tree for categorical variable
            Ctree = DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=5, min_samples_leaf=3)
            Ctree.fit(features, target)
            output = Ctree.predict(target)
        else:
            try:
                #Decision tree for regression variables
                Rtree = DecisionTreeRegressor(criterion='mse', random_state=100, max_depth=5, min_samples_leaf=3)
                Rtree.fit(features, target)
                output = Rtree.predict(target)
            except:
                #use the average value to impute missing values
                print('Decision tree could not be used for imputation')
                print('Average value used')
                mean_impute = SimpleImputer(strategy='mean')
                output = mean_impute.fit_transform(target)
        
        #store the missing values
        result = pd.Series(output).rename('imp_' + c)
        imputed_features.append(result)
    
    #concat all series into a dataframe
    final_df = pd.concat(imputed_features, axis=1)
    
    return final_df

In [19]:
#store the columns with missing data
low_missing_cols = missing_data_pct[(missing_data_pct <= 0.25) & (missing_data_pct > 0)].index

Testing

In [43]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.impute import SimpleImputer
import pandas as pd

In [44]:
low_missing_cols

Index(['dv', 'last_pa', 'last_pc', 'last_py', 'last_ints', 'last_tdp',
       'last_ra', 'last_sra', 'last_ry', 'last_tdr', 'last_fuml', 'last_trg',
       'last_rec', 'last_recy', 'last_tdrec', 'last_ret', 'last_rety',
       'last_tdret', 'career_pa', 'career_pc', 'career_py', 'career_ints',
       'career_tdp', 'career_ra', 'career_sra', 'career_ry', 'career_tdr',
       'career_fuml', 'career_trg', 'career_rec', 'career_recy',
       'career_tdrec', 'career_ret', 'career_rety', 'career_tdret',
       'career_carry_to_fuml', 'career_catch_pct', 'seas_catch_pct',
       'roll_catch_pct', 'career_yds_per_rec', 'seas_yds_per_rec',
       'roll_yds_per_rec', 'career_rec_to_td', 'seas_rec_to_td',
       'roll_rec_to_td', 'cond', 'temp', 'wdir', 'humd'],
      dtype='object')

In [45]:
#store the argments for testing
c = low_missing_cols[0]
df = train_wr_miss

In [46]:
#store the column type
col_data_type = df[c].dtype

In [47]:
#create dummy variables
#dummies = pd.get_dummies(df.select_dtypes(include=['category', 'bool']), drop_first=True)

In [30]:
#drop original columns (as well as strings) and concate the dummies
interim_df = df.drop(df.select_dtypes(include=['category', 'bool']), axis=1).select_dtypes(exclude='object')
new_df = pd.concat([interim_df, dummies], axis=1)
#drop identifier columns
new_df = new_df.drop(['gid', 'nflid'], axis=1)
#drop ultimate response variable
new_df = new_df.drop('f_pts', axis=1)

In [31]:
for i in new_df.columns: print(i)

pa
pc
py
ints
tdp
ra
sra
ry
tdr
fuml
trg
rec
recy
tdrec
ret
rety
tdret
exp
height
weight
forty
bench
vertical
broad
shuttle
cone
arm
hand
seas_pa
seas_pc
seas_py
seas_ints
seas_tdp
seas_ra
seas_sra
seas_ry
seas_tdr
seas_fuml
seas_trg
seas_rec
seas_recy
seas_tdrec
seas_ret
seas_rety
seas_tdret
last_pa
last_pc
last_py
last_ints
last_tdp
last_ra
last_sra
last_ry
last_tdr
last_fuml
last_trg
last_rec
last_recy
last_tdrec
last_ret
last_rety
last_tdret
career_pa
career_pc
career_py
career_ints
career_tdp
career_ra
career_sra
career_ry
career_tdr
career_fuml
career_trg
career_rec
career_recy
career_tdrec
career_ret
career_rety
career_tdret
recent_fuml
recent_ints
recent_pa
recent_pc
recent_py
recent_ra
recent_rec
recent_recy
recent_ret
recent_rety
recent_ry
recent_sra
recent_tdp
recent_tdr
recent_tdrec
recent_tdret
recent_trg
career_carry_to_fuml
career_catch_pct
seas_catch_pct
roll_catch_pct
career_yds_per_rec
seas_yds_per_rec
roll_yds_per_rec
career_rec_to_td
seas_rec_to_td
roll_rec_to_td
age
temp
humd
ou
sprv
ptsv
ptsh
udog_binary
seas_2001
seas_2002
seas_2003
seas_2004
seas_2005
seas_2006
seas_2007
seas_2008
seas_2009
seas_2010
seas_2011
seas_2012
seas_2013
seas_2014
seas_2015
seas_2016
seas_2017
seas_2018
wk_3
wk_4
wk_5
wk_6
wk_7
wk_8
wk_9
wk_10
wk_11
wk_12
wk_13
wk_14
wk_15
wk_16
team_ATL
team_BAL
team_BUF
team_CAR
team_CHI
team_CIN
team_CLE
team_DAL
team_DEN
team_DET
team_GB
team_HOU
team_IND
team_JAC
team_KC
team_LA
team_LAC
team_MIA
team_MIN
team_NE
team_NO
team_NYG
team_NYJ
team_OAK
team_PHI
team_PIT
team_SD
team_SEA
team_SF
team_STL
team_TB
team_TEN
team_WAS
pos1_RB
pos1_TE
pos1_WR
dv_Atlantic 10
dv_Atlantic Coast (ACC)
dv_Big 12
dv_Big East
dv_Big Eight
dv_Big Sky
dv_Big Ten
dv_Big West
dv_Colonial Athletic (CAA)
dv_Conference USA (C-USA)
dv_FBS Independents
dv_FCS Independents
dv_Great West
dv_Ivy League
dv_Mid-American (MAC)
dv_Mid-Eastern Athletic (MEAC)
dv_Missouri Valley
dv_Mountain West (MWC)
dv_Ohio Valley
dv_Pacific 10
dv_Pacific 12
dv_Southeastern (SEC)
dv_Southern
dv_Southland
dv_Southwest
dv_Southwestern Athletic (SWAC)
dv_Sun Belt
dv_Western Athletic
dv_Yankee
v_ATL
v_BAL
v_BUF
v_CAR
v_CHI
v_CIN
v_CLE
v_DAL
v_DEN
v_DET
v_GB
v_HOU
v_IND
v_JAC
v_KC
v_LA
v_LAC
v_MIA
v_MIN
v_NE
v_NO
v_NYG
v_NYJ
v_OAK
v_PHI
v_PIT
v_SD
v_SEA
v_SF
v_STL
v_TB
v_TEN
v_WAS
h_ATL
h_BAL
h_BUF
h_CAR
h_CHI
h_CIN
h_CLE
h_DAL
h_DEN
h_DET
h_GB
h_HOU
h_IND
h_JAC
h_KC
h_LA
h_LAC
h_MIA
h_MIN
h_NE
h_NO
h_NYG
h_NYJ
h_OAK
h_PHI
h_PIT
h_SD
h_SEA
h_SF
h_STL
h_TB
h_TEN
h_WAS
day_MN
day_SAT
day_SN
day_SUN
day_THU
day_TN
cond_Clear
cond_Closed Roof
cond_Cloudy
cond_Cold
cond_Covered Roof
cond_Dome
cond_Fair
cond_Flurries
cond_Foggy
cond_Hazy
cond_Light Rain
cond_Light Showers
cond_Light Snow
cond_Mostly Cloudy
cond_Mostly Sunny
cond_Overcast
cond_Partly CLoudy
cond_Partly Cloudy
cond_Partly Sunny
cond_Rain
cond_Showers
cond_Snow
cond_Sunny
cond_Thunderstorms
stad_AT&T Stadium
stad_Adelphia Coliseum
stad_Alltel Stadium
stad_Arrowhead Stadium
stad_Azteca Stadium
stad_Bank of America Stadium
stad_Candlestick Park
stad_Cardinals Stadium
stad_CenturyLink Field
stad_Cleveland Browns Stadium
stad_Cowboys Stadium
stad_Dolphins Stadium
stad_Edward Jones Dome
stad_Ericsson Stadium
stad_Estadio Azteca
stad_EverBank Field
stad_FedEx Field
stad_FirstEnergy Stadium
stad_Ford Field
stad_Foxboro Stadium
stad_Georgia Dome
stad_Giants Stadium
stad_Gillette Stadium
stad_Hard Rock Stadium
stad_Heinz Field
stad_Husky Stadium
stad_Invesco Field at Mile High
stad_Jacksonville Municipal Stadium
stad_LP Field
stad_Lambeau Field
stad_Land Shark Stadium
stad_Levi's Stadium
stad_Lincoln Financial Field
stad_Los Angeles Memorial Coliseum
stad_Louisiana Superdome
stad_Lucas Oil Stadium
stad_M&T Bank Stadium
stad_Mall of America Field at HHH Metrodome
stad_McAfee Coliseum
stad_Memorial Stadium
stad_Mercedes-Benz Stadium
stad_Mercedes-Benz Superdome
stad_MetLife Stadium
stad_Metrodome
stad_Mile High Stadium
stad_Monster Park
stad_NRG Stadium
stad_Network Associates Coliseum
stad_New Era Field
stad_New Meadowlands Stadium
stad_Nissan Stadium
stad_O.co Coliseum Oakland
stad_Oakland-Alameda County Coliseum
stad_PSINet Stadium
stad_Paul Brown Stadium
stad_Pontiac Silverdome
stad_Pro Player Stadium
stad_Qualcomm Stadium
stad_Qwest Field
stad_RCA Dome
stad_Ralph Wilson Stadium
stad_Ravens Stadium
stad_Raymond James Stadium
stad_Reliant Stadium
stad_Rogers Centre
stad_Seahawks Stadium
stad_Snapdragon Stadium
stad_Soldier Field
stad_Sports Authority Field at Mile High
stad_StubHub Center
stad_Sun Devil Stadium
stad_Sun Life Stadium
stad_TCF Bank Stadium
stad_TIAA Bank Field
stad_Texas Stadium
stad_The Meadowlands
stad_Three Rivers Stadium
stad_Trans World Dome
stad_Twickenham
stad_Twickenham Stadium
stad_U.S. Bank Stadium
stad_University of Phoenix Stadium
stad_Veterans Stadium
stad_Wembley Stadium
wdir_CALM
wdir_E
wdir_ENE
wdir_ESE
wdir_N
wdir_NE
wdir_NNE
wdir_NNW
wdir_NW
wdir_S
wdir_SE
wdir_SSE
wdir_SSW
wdir_SW
wdir_VAR
wdir_W
wdir_WNW
wdir_WSW
wdir_e
surf_Artificial Turf
surf_AstroPlay
surf_AstroTurf
surf_DD GrassMaster
surf_FieldTurf
surf_Grass
surf_Matrix RealGrass
surf_MomentumTurf
surf_NeXTurf
surf_SportGrass
surf_Sportex
surf_UBU Speed Series S5M
udog_ATL
udog_BAL
udog_BUF
udog_CAR
udog_CHI
udog_CIN
udog_CLE
udog_DAL
udog_DEN
udog_DET
udog_GB
udog_HOU
udog_IND
udog_JAC
udog_KC
udog_LA
udog_LAC
udog_MIA
udog_MIN
udog_NE
udog_NO
udog_NYG
udog_NYJ
udog_OAK
udog_PHI
udog_PIT
udog_SD
udog_SEA
udog_SF
udog_STL
udog_TB
udog_TEN
udog_WAS
gen_cond_indoor_cond
gen_cond_percip_cond
def_team_ATL
def_team_BAL
def_team_BUF
def_team_CAR
def_team_CHI
def_team_CIN
def_team_CLE
def_team_DAL
def_team_DEN
def_team_DET
def_team_GB
def_team_HOU
def_team_IND
def_team_JAC
def_team_KC
def_team_LA
def_team_LAC
def_team_MIA
def_team_MIN
def_team_NE
def_team_NO
def_team_NYG
def_team_NYJ
def_team_OAK
def_team_PHI
def_team_PIT
def_team_SD
def_team_SEA
def_team_SF
def_team_STL
def_team_TB
def_team_TEN
def_team_WAS

In [48]:
#store the target
target = df[c].values

In [49]:
#store the features
features_df = df.drop(c, axis=1)

In [50]:
#create one hot encoded dummy variables
dummies = pd.get_dummies(features_df.select_dtypes(include=['category', 'bool']), drop_first=False)

In [51]:
#drop original columns (as well as strings) and concate the dummies
interim_df = features_df.drop(features_df.select_dtypes(include=['category', 'bool']), axis=1).select_dtypes(exclude='object')
new_df = pd.concat([interim_df, dummies], axis=1)

In [52]:
#convert to values
features = new_df.values

In [53]:
#tree classifier
tree = DecisionTreeClassifier(criterion='gini', random_state=212, min_samples_leaf=3)

In [54]:
#fit the tree
tree.fit(features, target)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').